<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./style/style.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<section class="container">
				<div class="header-row">
					<a href="/main.html" class="logo"
						><div class="imglogo"><img src="/img/Vector1.png" alt="1" /></div>
						<div class="text-logo">
							Онлайн<span class="bluelogo">Викторины</span>
						</div></a
					>
					<div class="header-flex">
						<a href="/rating" class="rating">Рейтинг</a>
						<a href="/register.html" class="enter"
							><div class="authOnButton">
								<div class="topAuthOn">name</div>
								<div class="bottomAuthOn">123</div>
							</div></a
						>
					</div>
				</div>
			</section>
		</header>
		<main>
			<section class="container">
				<div class="big-flex">
					<section class="block-1">
						<div class="block-create_room">
							<div class="arrow-svg">
								<img src="./img/Arrow.svg" alt="Arrow" />
							</div>
							<div class="create-room">
								<img src="./img/Star.svg" alt="" class="star" />
								<h1 class="title-game">Создание комнаты</h1>
								<img src="./img/Star.svg" alt="" class="star" />
							</div>
							<div class="room-flex">
								<input class="num-room" placeholder="Код комнаты" />
								<button href="./" class="create">Создать</button>
							</div>
						</div>

					</section>
					<section class="block-2">
					</section>
				</div>
			</section>
		</main>
	</body>
</html>
