<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/static/style.css" />
		<title>Document</title>
	</head>

	<body>
		<header class="header">
			<section class="container">

				<div class="header-row">
					<a href="/mode" class="logo"
						><div class="imglogo"><img src=/static/img/Vector1.png" alt="1" /></div>
						<div class="text-logo">
							Онлайн<span class="bluelogo">Викторины</span>
						</div></a
					>
					<div class="header-flex">
						<a href="/rating" class="rating">Рейтинг</a>
						<a href="/authorization" class="enter"
              ><img src="/static/img/ava.png" alt="1" width="30" height="30" />
              <div class="authOnButton">
                <div class="topAuthOn">{{name}}</div>
                <div class="bottomAuthOn">счет: {{score}}</div>
              </div></a
            >
					</div>
				</div>
			</section>
		</header>
		<main>
			<section class="container">
				<h1>{{theme}}</h1>
				<form action="/make_quiz/{{number}}" method="post">
    <label> {{number}}.Вопрос: </label>

					<div class="inputLabel"><input  type="text" name=ans{{i}} /></div><br>
    <p>Варианты ответов:<br>
					<div class="inputLabel"><input type="text" name=cor{{i}} /><label> - правильный ответ   </label><br></div>
    {% for j in range(3) %}
        <div class="inputLabel"><input  class="inputLabel" type="text" name='0/{{j}}' /></div><br>
    {% endfor %}
    <br>
    <input type="submit" value="Следущий вопрос"/>
</form>
			</section>
		</main>
	</body>
</html>
