<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <h1>СОЗРЕЛ ВОПРОС:</h1>
    <h2>{{question}}</h2>
    <form method="post">
        {% for variant in variants %}
        <input type="radio" name="answers" id="{{variant[0]}}" value="{{variant[0]}}"> {{variant[1]}} </input><br>
        {% endfor %}
        <button><a href="javascript:history.back()">Назад</button></a><br>
        <input type="submit" value="Следующий вопрос"></input>
    </form>
  </body>
</html>