<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <h1>Выберите тему</h1>
    <form action="/single" method="post">
        {% for theme in themes %}
        <input type="radio" name="themes" id="{{theme}}" value="{{theme}}"> {{theme}} </input><br>
        {% endfor %}
        <input type="submit" value="Начать играть"></input>
    </form>
  <form action="/authorization" >
    <button><a href="javascript:history.back()">Назад</button></a><br>
    <button> ВЫЙТИ ИЗ АККАУНТА </button>
  </form>
  </body>
</html>