<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Рейтинг пользователей</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 50%; margin: 0 auto; border-collapse: collapse; }
        th, td { border: 1px solid #000; padding: 8px; text-align: center; }
        th { background-color: #eda23a; }
    </style>
</head>
<body>
    <h1 align="center">Рейтинг пользователей</h1>
    <table id="userRatingsTable">
        <thead>
                <th>Пользователь</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
          <form action="/rating">
            {% for row in rows %}
            <tr>
                {% for value in row %}
                <td>{{value}}</td>
                {% endfor %}
                
            </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>

    

    <form action="/authorization" >

      <div style="text-align:center">
        <button type="submit" class="btn btn-primary w-100" ><a href="javascript:history.back()">Назад</button></a>
      </div> 
      
      <!-- <button><a href="javascript:history.back()">Назад</button></a><br>   -->
      <!-- <div style="text-align:center">
        <button type="submit" class="btn btn-primary w-100">Выйти из аккаунта</button>
      </div>  -->
    </form>
    <script>
        // Здесь можно добавить JavaScript-код для получения данных о рейтинге пользователей с сервера,
        // например, с помощью AJAX, и заполнения таблицы данными.
        // Пример:
        // const xhr = new XMLHttpRequest();
        // xhr.open('GET', 'https://api.yoursite.com/users/ratings', true);
        // xhr.onload = function() {
        //     if (xhr.status === 200) {
        //         const data = JSON.parse(xhr.responseText);
        //         const tableBody = document.querySelector('#userRatingsTable tbody');
        //         data.forEach(user => {
        //             const row = document.createElement('tr');
        //             row.innerHTML = `
        //                 <td>${user.name}</td>
        //                 <td>${user.rating}</td>
        //             `;
        //             tableBody.appendChild(row);
        //         });
        //     }
        // };
        // xhr.send();
    </script>
</body>
</html>