<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <section class="container">
        <div class="header-row">
          <a href="/mode" class="logo"
            ><div class="imglogo">
              <img src="static/img/Vector1.png" alt="1" />
            </div>
            <div class="text-logo">
              Онлайн<span class="bluelogo">Викторины</span>
            </div></a
          >
          <div class="header-flex">
            <a href="/mode" class="rating">На Главную</a>
            <a href="/authorization" class="enter"
              ><img src="static/img/ava.png" alt="1" width="30" height="30" />
              <div class="authOnButton">
                <div class="topAuthOn">{{name}}</div>
                <div class="bottomAuthOn">счет: {{score}}</div>
              </div></a
            >
          </div>
        </div>
      </section>
    </header>
    <main>
      <style>
        table {
          width: 50%;
          margin: 0 auto;
          border-collapse: collapse;
        }
        th,
        td {
          border: 1px solid #000;
          padding: 8px;
          text-align: center;
        }
        th {
          background-color: #553aed;
        }
      </style>

      <section class="container">
        <h1 style="text-align:center;">Рейтинг пользователей</h1>
        <table id="userRatingsTable">
          <thead>
            <tr>
              <th>Пользователь</th>
              <th>Рейтинг</th>
            </tr>
          </thead>
          <tbody>
            <form action="/rating">
              {% for row in rows %}
              <tr>
                {% for value in row %}
                <td>{{value}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </form>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
