<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Онлайн Викторины</title>
	</head>
	<body>
			<main>
				<section class="container">
					<div class="upperMainPage">
						<div class="leftMain">
							<div class="leftMainTitle">
								<div class="upperTitleLeftMain"><span class="cubeLeftMain"><img src="static/img/Vector1.png" alt="cube"></span>Онлайн</div>
								<div class="bottomTitleLeftMain">Викторины</div>
							</div>
						</div>
							<form action="/registration" method="post" class="registerWindow">
								<div class="registerWindowContent">
									<div class="labelRegister">Регистрация</div>
									<div class="inputsRegister">
										<div class="inputLabel">
											<label for="name">Имя пользователя</label>
											<input type="text" name="username" id="name">
										</div>
										<div class="inputLabel">
											<label for="mail">Электронная почта</label>
											<input type="text" name="mail" id="mail">
										</div>
										<div class="inputLabel">
											<label for="password">Пароль</label>
											<input type="password" name="password" id="password">
										</div>
									</div>
										<button class="buttonOnreg" type="submit">Зарегистрироваться</button>
									<div class="registerBottom">
										<div class="bottomRegisterWindow">
											<span>У вас уже есть аккаунт?</span><a href="/authorization">Войти</a>
										</div>
									</div>
									{% for cat, msg in get_flashed_messages(True) %}
										<div class="flash {{cat}}">{{msg}}</div>
									{% endfor %}
								</div>
							</form>
						</div>
				</section>
			</main>
	</body>
</html>
