<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/timer.js') }}"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>Одиночная игра</title>
  </head>
  <body>
    <header class="header">
      <section class="container">
        <div class="header-row">
          <a href="/mode" class="logo"
            ><div class="imglogo">
              <img
                src="{{ url_for('static', filename='img/Vector1.png') }}"
                alt="1"
              />
            </div>
            <div class="text-logo">
              Онлайн<span class="bluelogo">Викторины</span>
            </div></a
          >
          <div class="header-flex">
            <a href="/rating" class="rating">Рейтинг</a>
            <a href="/authorization" class="enter"
              ><div class="authOnButton">
                <div class="topAuthOn">{{name}}</div>
                <div class="bottomAuthOn">{{score}}</div>
              </div></a
            >
          </div>
        </div>
      </section>
    </header>
    <main>
      <section class="container">
        <script
          type="text/javascript"
          src="{{ url_for('static', filename='scripts/single.js') }}"
        ></script>
        <div class="big-flex">
          <section class="block-1">
            <div class="block-room">
              <div class="room">
                <div class="flex-svg">
                  <img
                    src="{{ url_for('static', filename='img/Arrow.svg')}}"
                    alt="Arrow"
                    onclick="location.href='/mode'"
                  />
                  <h1 class="title-game">Игра {{name}}</h1>
                </div>
              </div>
              <h1 class="quest" id="vopros">Вопрос</h1>
              <div class="room-quest" id="results">
                <button class="answer" id="startBtn">СТАРТ</button>
              </div>
              <div class="room-quest" id="quiz">
				<p id="countdown"></p>
                <button class="variation" id="ans0">Вариант 1</button>
                <button class="variation" id="ans1">Вариант 2</button>
                <button class="variation" id="ans2">Вариант 3</button>
                <button class="variation" id="ans3">Вариант 4</button>
              </div>
            </div>
          </section>
          <section class="block-2">
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
